In [1]:
from math import sqrt
import numpy as np
import pandas as pd
import scipy.stats as stats

In [2]:
# Задание 1

In [3]:
# Даны значения величины заработной платы заемщиков банка (zp) и значения их поведенческого кредитного скоринга (ks): zp = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110], ks = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]. 
# Используя математические операции, посчитать коэффициенты линейной регрессии, приняв за X заработную плату (то есть, zp - признак), а за y - значения скорингового балла (то есть, ks - целевая переменная). 
# Произвести расчет как с использованием intercept, так и без.

In [4]:
n = 10
x = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
y = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

In [5]:
# Интерсепт

B1_1 = (np.mean(x * y) - (np.mean(x) * np.mean(y))) / (np.mean(x**2) - np.mean(x) ** 2)
A1 = np.mean(y) - B1_1 * np.mean(x)
print("B1_1: {}".format(B1_1, 2))
print("A1: {}".format(A1, 2))

B1_1: 2.620538882402765
A1: 444.1773573243596

In [6]:
# Матричный метод

x1 = x.reshape(len(x), 1)
y1 = y.reshape(len(y), 1)
X1 = np.hstack([np.ones((10,1)), x1])

In [7]:
B1_1_1 = np.dot(np.linalg.inv(np.dot(X1.T,X1)),X1.T@y1)
print("B1_1_1: {}".format(B1_1_1, 2))

B1_1_1: [[444.17735732]
 [  2.62053888]]

In [8]:
B1_1_2 = np.linalg.pinv(X1).dot(y1)
print("B1_1_2: {}".format(B1_1_2, 2))

B1_1_2: [[444.17735732]
 [  2.62053888]]

In [9]:
y_hat1 = A1 + (B1_1 * x)
print("y_hat1: {}".format(y_hat1, 2))

y_hat1: [535.89621821 562.10160703 942.07974498 968.2851338  548.99891262
 627.61507909 585.68645697 837.25818968 758.64202321 732.43663439]

In [10]:
mse1 = np.mean((y - y_hat1) ** 2)
print("mse1: {}".format(mse1, 2))

mse1: 6470.414201176658

In [11]:
# Без интерсепта

In [12]:
B1_2 = np.mean(y) / np.mean(x)
y_hat2 = B1_2 * x
print("y_hat2: {}".format(y_hat2, 2))

y_hat2: [ 245.03451677  315.0443787  1330.18737673 1400.19723866  280.03944773
  490.06903353  378.05325444 1050.14792899  840.1183432   770.10848126]

In [13]:
# Матричный метод

x2 = x.reshape(len(x), 1)
y2 = y.reshape(len(y), 1)
B1_2_1 = np.dot(np.linalg.inv(np.dot(x2.T,x2)),x2.T@y2)
B1_2_2 = np.linalg.pinv(x2).dot(y2)
mse2 = np.mean((y - y_hat2) ** 2)
print("mse2: {}".format(mse2, 2))
df = pd.DataFrame({'x': x, 'y': y, 'y_hat1': y_hat1, 'y_hat2': y_hat2}, columns=['x', 'y', 'y_hat1', 'y_hat2'])
df

mse2: 73526.6800654739

     x    y      y_hat1       y_hat2
0   35  401  535.896218   245.034517
1   45  574  562.101607   315.044379
2  190  874  942.079745  1330.187377
3  200  919  968.285134  1400.197239
4   40  459  548.998913   280.039448
5   70  739  627.615079   490.069034
6   54  653  585.686457   378.053254
7  150  902  837.258190  1050.147929
8  120  746  758.642023   840.118343
9  110  832  732.436634   770.108481

In [14]:
# Задание 2

In [15]:
# Посчитать коэффициент линейной регрессии при заработной плате (zp), используя градиентный спуск (без intercept).

In [16]:
alpha = 1e-6
print("alpha: {}".format(alpha, 2))
B1 = 0.1
for i in range(3000):
    B1 -= alpha*(2 / n) * np.sum((B1 * x - y) * x)
    if i%500 == 0:
        print('Iteration: {i}, B1={B1}, mse={mse}'.format(i=i, B1=B1, mse=np.mean((B1 * x - y)**2)))

alpha: 1e-06
Iteration: 0, B1=0.25952808, mse=493237.7212546963
Iteration: 500, B1=5.889815595583751, mse=56516.858416040064
Iteration: 1000, B1=5.8898204201285544, mse=56516.85841571941
Iteration: 1500, B1=5.889820420132673, mse=56516.85841571943
Iteration: 2000, B1=5.889820420132673, mse=56516.85841571943
Iteration: 2500, B1=5.889820420132673, mse=56516.85841571943

In [17]:
# Задание 3

In [18]:
# Произвести вычисления как в пункте 2, но с вычислением intercept. 
# Учесть, что изменение коэффициентов должно производиться на каждом шаге одновременно 
# (то есть изменение одного коэффициента не должно влиять на изменение другого во время одной итерации).

In [19]:
alpha = 5e-6
print("alpha: {}".format(alpha, 2))

def mse_(B0, B1, y, x, n):
    return np.sum((B0 + B1 * x - y)**2) / n

n = 10
x = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])
y = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

B0 = 0.1
B1 = 0.1

for i in range(3500000):
    y_pred = B0 + B1*x
    B0 -= alpha * (2 / n) * np.sum(y_pred - y)
    B1 -= alpha * (2 / n) * np.sum((y_pred - y) * x)
    if i % 500000 == 0:
        print('B0={B0}, B1={B1}, mse={mse}'.format(B0=B0, B1=B1, mse=mse_(B0, B1, y, x, n)))

alpha: 5e-06
B0=0.10699660000000001, B1=0.8975390000000001, mse=399736.8945969929
B0=319.2611919366344, B1=3.53997708826565, mse=10428.613732861277
B0=409.0357653850931, B1=2.8791965360660576, mse=6783.672985320853
B0=434.291275085185, B1=2.693304818571127, mse=6495.206045311317
B0=441.39619071675355, B1=2.6410094982591366, mse=6472.376270771214
B0=443.39495560929134, B1=2.6262977049453364, mse=6470.569482771402
B0=443.95725096967476, B1=2.622158962487855, mse=6470.42649043171